body
{
	background-color: #edd4f3;
}

#menu
{
	position: fixed;
	width: 100%;
	height: 20%;
	background-color: #d0bcf3;
	align-content: center;
}

.td_menue{
	border: 1px thick;
	border-collapse: collapse;
	padding: 7px;
  }

#logo
{
	padding: 15px;
}

#about
{

	background-image: url(media/clouds.gif)
	
}

#photos
{
	background-color: rgb(255, 255, 255);
}

#playlist
{
	background-image: url(media/clouds.gif)
}

#like
{
	background-color: rgb(255, 255, 255);
	align-content: center;
}

#qrcoder
{
	background-image: url(media/clouds.gif)
}

#qa
{
	background-color: rgb(254, 254, 255);
}

#contact
{
	background-image: url(media/clouds.gif)
}

h2
{
	font-style: italic;
	text-align: center;
	text-decoration: underline;

}
p{
	font-style: italic;
	text-align: center;

}

section
{
	align-content: center;
}
  
div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

#button_send_email{
	background-color: rgba(147, 102, 245, 0.5);
	border-style: double;
	border-color: rgb(29, 28, 28);
	color: black;
	padding: 5px;
	align-content: center;

}

#button_send_email:hover{
	background-color: rgb(212, 140, 228);
	font-size: large;
	align-content: center;
	text-decoration: underline;
	
}

#menu_table{
	height: auto;
	width: 100%;
	background-color: white;
}

.td_menue:hover{
	background-color:#e0d5fa;
}

a:link
{
	color: rgb(212, 140, 228);
	text-align: center;
}

a:visited{
	color: rgb(70, 4, 90);
}

a:hover {
	color: rgb(255, 255, 255);
}

.menue_links{
	padding: 15px 25px;
}

#qa_table{
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}


#inner_about{
	background-size: auto;
	background-color: rgba(255,255,255,0.5);
	background-blend-mode: color;
}

#mail_copy_button{
	width:100px; 
	height: 40px; 
	background-color:rgba(255,255,255,0.5); 
	color: rgb(0, 0, 0);
}

#mail_copy_button:hover{
	background-color: #d0bcf3;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 80%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  /* Add a background color and some padding around the form */
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }